table {
  width: 400px;
  border: 1px solid black;
}
tr,th,td {
  border: 1px solid black;
  height: 20px;
  width: 30px;
}
.table1 {
border-collapse: collapse;
}
.table2 {
  border-collapse: collapse;
}
.table3 {
  border-collapse: collapse;
}