header {
  background-color: red;
}




.lesson  {
  background-color: lemonchiffon;
}

#paragraph-1 {
  color: black;
  background-color: white;
}

#paragraph-2 {
  color: black;
  background-color: white;
}

#paragraph-3 {
    color: black;
    background-color: white;
}
